<?php

/** 
 * ===============================================================
 * Copyright (C) 2016 - Peter Nagy.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * ===============================================================
 * @author      Peter Nagy
 * @since       Jan 2016
 * @version     0.1
 * @description Mail configuration stored here - tested with gmail
 */

return [
    'mailconfig' => [
        'xmailer' => ' ',
        'host' => 'smtp.gmail.com',
        'sendername' => '',
        'username' => '',
        'password' => '',
        'from' => '',
        'reply' => ''
    ]
];
